## Chapter 20: Analyzing Census Data

In [6]:
census_data = load("../julia-files/Gaz_ua_national.csv") |> DataFrame

3592×11 DataFrame. Omitted printing of 9 columns
│ Row  │ GEOID │ NAME                                                      │
│      │ Int64 │ String                                                    │
├──────┼───────┼───────────────────────────────────────────────────────────┤
│ 1    │ 37    │ Abbeville, LA Urban Cluster                               │
│ 2    │ 64    │ Abbeville, SC Urban Cluster                               │
│ 3    │ 91    │ Abbotsford, WI Urban Cluster                              │
│ 4    │ 118   │ Aberdeen, MS Urban Cluster                                │
│ 5    │ 145   │ Aberdeen, SD Urban Cluster                                │
│ 6    │ 172   │ Aberdeen, WA Urban Cluster                                │
│ 7    │ 199   │ Aberdeen--Bel Air South--Bel Air North, MD Urbanized Area │
│ 8    │ 226   │ Abernathy, TX Urban Cluster                               │
│ 9    │ 253   │ Abilene, KS Urban Cluster                                 │
│ 10   │ 280   │ Abilene, TX Urbanized Area                                │
⋮
│ 3582 │ 97939 │ Yuba City, CA Urbanized Area                              │
│ 3583 │ 97966 │ Yucca Valley, CA Urban Cluster                            │
│ 3584 │ 97993 │ Yulee, FL Urban Cluster                                   │
│ 3585 │ 98020 │ Yuma, AZ--CA Urbanized Area                               │
│ 3586 │ 98047 │ Yuma, CO Urban Cluster                                    │
│ 3587 │ 98074 │ Zanesville, OH Urban Cluster                              │
│ 3588 │ 98101 │ Zapata--Medina, TX Urban Cluster                          │
│ 3589 │ 98182 │ Zephyrhills, FL Urbanized Area                            │
│ 3590 │ 98209 │ Zimmerman, MN Urban Cluster                               │
│ 3591 │ 98236 │ Zumbrota, MN Urban Cluster                                │
│ 3592 │ 98263 │ Zuni Pueblo, NM Urban Cluster                             │

In [7]:
census_data |> 
  @orderby_descending(_.POP10) |> 
  DataFrame |> 
  df->first(df,10)

10×11 DataFrame. Omitted printing of 8 columns
│ Row │ GEOID │ NAME                                                │ UATYPE │
│     │ Int64 │ String                                              │ String │
├─────┼───────┼─────────────────────────────────────────────────────┼────────┤
│ 1   │ 63217 │ New York--Newark, NY--NJ--CT Urbanized Area         │ U      │
│ 2   │ 51445 │ Los Angeles--Long Beach--Anaheim, CA Urbanized Area │ U      │
│ 3   │ 16264 │ Chicago, IL--IN Urbanized Area                      │ U      │
│ 4   │ 56602 │ Miami, FL Urbanized Area                            │ U      │
│ 5   │ 69076 │ Philadelphia, PA--NJ--DE--MD Urbanized Area         │ U      │
│ 6   │ 22042 │ Dallas--Fort Worth--Arlington, TX Urbanized Area    │ U      │
│ 7   │ 40429 │ Houston, TX Urbanized Area                          │ U      │
│ 8   │ 92242 │ Washington, DC--VA--MD Urbanized Area               │ U      │
│ 9   │ 3817  │ Atlanta, GA Urbanized Area                          │ U      │
│ 10  │ 9271  │ Boston, MA--NH--RI Urbanized Area                   │ U      │