## Chapter 21: Olympic Data

In [2]:
using Query, CSVFiles, DataFrames

In [3]:
ENV["COLUMNS"]=180

180

In [4]:
summer = load("../data/olympics-summer.csv") |> DataFrame;

In [6]:
first(summer,5)

5×9 DataFrame
│ Row │ Year  │ City   │ Sport    │ Discipline │ Athlete            │ Country │ Gender │ Event                      │ Medal  │
│     │ Int64 │ String │ String   │ String     │ String             │ String  │ String │ String                     │ String │
├─────┼───────┼────────┼──────────┼────────────┼────────────────────┼─────────┼────────┼────────────────────────────┼────────┤
│ 1   │ 1896  │ Athens │ Aquatics │ Swimming   │ HAJOS, Alfred      │ HUN     │ Men    │ 100M Freestyle             │ Gold   │
│ 2   │ 1896  │ Athens │ Aquatics │ Swimming   │ HERSCHMANN, Otto   │ AUT     │ Men    │ 100M Freestyle             │ Silver │
│ 3   │ 1896  │ Athens │ Aquatics │ Swimming   │ DRIVAS, Dimitrios  │ GRE     │ Men    │ 100M Freestyle For Sailors │ Bronze │
│ 4   │ 1896  │ Athens │ Aquatics │ Swimming   │ MALOKINIS, Ioannis │ GRE     │ Men    │ 100M Freestyle For Sailors │ Gold   │
│ 5   │ 1896  │ Athens │ Aquatics │ Swimming   │ CHASAPIS, Spiridon │ GRE     │ Men    │ 100M Freestyle For Sailors │ Silver │

In [8]:
names(summer)

9-element Array{String,1}:
 "Year"
 "City"
 "Sport"
 "Discipline"
 "Athlete"
 "Country"
 "Gender"
 "Event"
 "Medal"

In [9]:
nrow(summer)

31165

In [21]:
summer |> 
  @filter(_.Year == 2000 && _.Medal == "Gold") |> 
  @groupby(_.Athlete) |> 
  @map({Athlete = key(_), num_golds = length(_), country = first(unique(_.Country))}) |> 
  @orderby_descending(_.num_golds) |> 
  DataFrame |>
  df -> first(df,6)

6×3 DataFrame
│ Row │ Athlete                        │ num_golds │ country │
│     │ String                         │ Int64     │ String  │
├─────┼────────────────────────────────┼───────────┼─────────┤
│ 1   │ KRAYZELBURG, Lenny             │ 3         │ USA     │
│ 2   │ DE BRUIJN, Inge                │ 3         │ NED     │
│ 3   │ THORPE, Ian                    │ 3         │ AUS     │
│ 4   │ THOMPSON, Jenny                │ 3         │ USA     │
│ 5   │ ZIJLAARD-VAN MOORSEL, Leontien │ 3         │ NED     │
│ 6   │ XIONG, Ni                      │ 2         │ CHN     │

In [30]:
summer |>
  @groupby(_.Sport) |>
  @map({Sport = key(_),Num_Medals=length(_)}) |>
  @orderby_descending(_.Num_Medals) |>
  DataFrame |>
  df->first(df,10)

10×2 DataFrame
│ Row │ Sport      │ Num_Medals │
│     │ String     │ Int64      │
├─────┼────────────┼────────────┤
│ 1   │ Aquatics   │ 4170       │
│ 2   │ Athletics  │ 3638       │
│ 3   │ Rowing     │ 2667       │
│ 4   │ Gymnastics │ 2307       │
│ 5   │ Fencing    │ 1613       │
│ 6   │ Football   │ 1497       │
│ 7   │ Hockey     │ 1422       │
│ 8   │ Wrestling  │ 1212       │
│ 9   │ Shooting   │ 1150       │
│ 10  │ Sailing    │ 1109       │

### Produce a new DataFrame that lists total number of medals by country. Produce a histogram of the total number of medals.

In [36]:
medals = summer |>
  @groupby(_.Country) |>
  @map({Country = key(_), Num_Medals = length(_)}) |>
  @orderby_descending(_.Num_Medals) |>
  DataFrame

148×2 DataFrame
│ Row │ Country │ Num_Medals │
│     │ String  │ Int64      │
├─────┼─────────┼────────────┤
│ 1   │ USA     │ 4585       │
│ 2   │ URS     │ 2049       │
│ 3   │ GBR     │ 1720       │
│ 4   │ FRA     │ 1396       │
│ 5   │ GER     │ 1305       │
│ 6   │ ITA     │ 1296       │
│ 7   │ AUS     │ 1189       │
│ 8   │ HUN     │ 1079       │
│ 9   │ SWE     │ 1044       │
│ 10  │ NED     │ 851        │
⋮
│ 138 │ ERI     │ 1          │
│ 139 │ UAE     │ 1          │
│ 140 │ SUD     │ 1          │
│ 141 │ MRI     │ 1          │
│ 142 │ TOG     │ 1          │
│ 143 │ BRN     │ 1          │
│ 144 │ GUA     │ 1          │
│ 145 │ GRN     │ 1          │
│ 146 │ BOT     │ 1          │
│ 147 │ CYP     │ 1          │
│ 148 │ GAB     │ 1          │