## Chapter 21: Olympic Data

This analyzes a nice dataset with a number of interesting data from all olympics between 1896 and 2014.

In [1]:
using Query, CSVFiles, DataFrames, StatsPlots

In [2]:
ENV["COLUMNS"]=180

180

In [3]:
athletes = load("../data/olympic-athletes.csv") |> DataFrame;

In [4]:
first(athletes,5)

5×15 DataFrame. Omitted printing of 2 columns
│ Row │ ID    │ Name                     │ Sex    │ Age    │ Height  │ Weight   │ Team           │ NOC    │ Games       │ Year  │ Season │ City      │ Sport         │
│     │ Int64 │ String                   │ String │ Int64? │ Int64?  │ Float64? │ String         │ String │ String      │ Int64 │ String │ String    │ String        │
├─────┼───────┼──────────────────────────┼────────┼────────┼─────────┼──────────┼────────────────┼────────┼─────────────┼───────┼────────┼───────────┼───────────────┤
│ 1   │ 1     │ A Dijiang                │ M      │ 24     │ 180     │ 80.0     │ China          │ CHN    │ 1992 Summer │ 1992  │ Summer │ Barcelona │ Basketball    │
│ 2   │ 2     │ A Lamusi                 │ M      │ 23     │ 170     │ 60.0     │ China          │ CHN    │ 2012 Summer │ 2012  │ Summer │ London    │ Judo          │
│ 3   │ 3     │ Gunnar Nielsen Aaby      │ M      │ 24     │ missing │ missing  │ Denmark        │ DEN    │ 1920 Summer │ 1920  │ Summer │ Antwerpen │ Football      │
│ 4   │ 4     │ Edgar Lindenau Aabye     │ M      │ 34     │ missing │ missing  │ Denmark/Sweden │ DEN    │ 1900 Summer │ 1900  │ Summer │ Paris     │ Tug-Of-War    │
│ 5   │ 5     │ Christine Jacoba Aaftink │ F      │ 21     │ 185     │ 82.0     │ Netherlands    │ NED    │ 1988 Winter │ 1988  │ Winter │ Calgary   │ Speed Skating │

* **ID** a number corresponding to each athlete
* **Name** the name of the athlete
* **Sex** the sex (either Male or Female) of the athlete
* **Height** the height of the athlete in cm
* **Weight** the weight of the athlete in kg
* **Team** the country the athlete participated for
* **NOC** the country code of the athlete (helpful for condensed printing)
* **Games** The year and season (summer or winter) of the Olympic games for the given event.
* **Year** The Year of the Olympic games for the event.
* **Season** The season of the Olympic games for the event.
* **City** The host city of the Olympic games
* **Sport** The sport (category) of the event
* **Event** The specific event the athlete competed in.
* **Medal** The medal type (Gold, Silver, Bronze) or NA if no medal was earned.

### 1. What is the total number of medals given in all Olympics in the dataset?

In [6]:
athletes |> 
  @filter(_.Medal != "NA") |>
  DataFrame |>
  nrow

39783

### 2. Which athlete had the most Olympic gold medals in the Summer 2000 games? How many medals?

6×3 DataFrame
│ Row │ ID     │ Name                                                               │ num_golds │
│     │ Int64  │ String                                                             │ Int64     │
├─────┼────────┼────────────────────────────────────────────────────────────────────┼───────────┤
│ 1   │ 25975  │ Inge de Bruijn                                                     │ 3         │
│ 2   │ 63912  │ Lenny Krayzelburg                                                  │ 3         │
│ 3   │ 119922 │ Jennifer Elisabeth "Jenny" Thompson (-Cumpelik)                    │ 3         │
│ 4   │ 120087 │ Ian James Thorpe                                                   │ 3         │
│ 5   │ 134980 │ Leontine Martha Henrica Petronella "Leontien" Zijlaard-van Moorsel │ 3         │
│ 6   │ 3281   │ Simona Amnar (-Tabr)                                               │ 2         │

### 3. Collectively taking each summer Olympics, give the top 5 athletes by number of medals.

### 4. List the top 10 countries by medals in only winter Olympics.

### 5. Plot the average weight for male and female in each year over the entire span of the Olympic games.

### 6. Plot the number of medals that the U.S. collected over each olympic year.

### 7. What age the most common athlete? What we are looking for is the mode of the age of all athletes.

### 8. Consider the winter games between 1950 and 1970.  Collectively of these games, what are the top 5 sports by total medals given?